:root{
  --background-color1: #000000;
  --background-color2: #1e242c;
  --incident-highlight-color: #2b343f;
  --border-color:#a6a6a6;
  --text-color1: white;
  --text-color2: rgb(198, 198, 198);
  --text-highlight1: rgb(60, 190, 255);
  --category-color1: #36414f;
}
.hidden {
  display: none !important;
}
html{
  overflow-x:clip;
}

input, textarea{
  background-color: transparent;
  color: var(--text-color1);
  border: none;
  padding: .5vh;
  resize: none;
  font-size: 1.5vh;
}
textarea:focus, input:focus, input:active, textarea:active{
  border: none;
  outline: none;
}

.App {
  display: flex;
  text-align: center;
  background-color: var(--background-color1);
  color: var(--text-color1);
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: none;
}

button {
  background-color: transparent;
  color: var(--text-color1);
  border: none;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: .1s ease-out;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 1vh;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 1vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
